<div>
    <h4>Trading Entity</h4>
    <label>name:</label> <input #name />
    <label>description:</label> <input #description />
    <label>display name:</label> <input #displayName />
    <button (click)="add(name.value, description.value, display-name.value); name.value=''; description.value=''; displayName.value=''">
        Add
    </button>
</div>