<h2>Trading Entities Table</h2>

<p-dataTable [value]="tradingEntities">
    <header>List of Trading Entities</header>
    <footer>Choose from the list.</footer>
    <p-column field="id" header="ID"></p-column>
    <p-column field="name" header="Name"></p-column>
    <p-column field="description" header="Description"></p-column>
    <p-column field="displayName" header="DisplayName"></p-column>
</p-dataTable>